In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

### Combine datasets

#### State Population/area dataset

In [2]:
df_counties = pd.read_csv('CountiesData.csv')

In [3]:
df_counties.dtypes

State             object
County            object
Population        object
Land_Area_km2     object
Water_Area_km2    object
Total_Area_km2    object
Latitude          object
Longitude         object
dtype: object

In [4]:
df_counties.drop(['County', 'Water_Area_km2', 'Latitude', 'Longitude'], axis=1, inplace=True)

In [5]:
# change column types to float

df_counties['Population'] = df_counties['Population'].astype(str)
df_counties['Population'] = df_counties['Population'].str.replace(',', '')
df_counties['Population'] = df_counties['Population'].astype(float)

df_counties['Land_Area_km2'] = df_counties['Land_Area_km2'].astype(str)
df_counties['Land_Area_km2'] = df_counties['Land_Area_km2'].str.replace(',', '')
df_counties['Land_Area_km2'] = df_counties['Land_Area_km2'].astype(float)

df_counties['Total_Area_km2'] = df_counties['Total_Area_km2'].astype(str)
df_counties['Total_Area_km2'] = df_counties['Total_Area_km2'].str.replace(',', '')
df_counties['Total_Area_km2'] = df_counties['Total_Area_km2'].astype(float)

In [6]:
df_population = df_counties.groupby('State').sum() # group data into cumulative data for States

df_population.reset_index(inplace=True) # reset index

In [7]:
df_population.set_index('State', inplace=True) # set index to states

In [8]:
states_dict = df_population.to_dict() # convert dataframe to dictionaries

population_dict = states_dict['Population'] # population dictionary

landArea_dict = states_dict['Land_Area_km2'] # Land Area dictionary

totalArea_dict = states_dict['Total_Area_km2'] # Total Area dictionary

#### Disasters dataset

In [9]:
df_disasters = pd.read_csv('FinalDisastersDataset.csv')

In [10]:
df_disasters.isnull().sum()

Declaration Number                      0
Declaration Type                        0
Declaration Date                        0
State                                   0
County                                  7
Disaster Type                           0
Disaster Title                          0
Start Date                              0
End Date                              282
Close Date                          10854
Individual Assistance Program           0
Individuals & Households Program        0
Public Assistance Program               0
Hazard Mitigation Program               0
Year                                    0
dtype: int64

In [11]:
# drop columns not needed in analysis
df_disasters.drop(['Declaration Number', 'Declaration Date', 'County', 'Close Date'], axis=1, inplace=True)

#### Nonprofits dataset

In [12]:
df_nonprofits = pd.read_csv('NonProfits.csv')

In [13]:
# remove any non-profit without a 501(c)(3) status

# drop rows in no 'End Date'
df_nonprofits['subsection'] = df_nonprofits['subsection'].fillna('none')

for index, row in df_nonprofits.iterrows():
    if row['subsection'] == 'none':
        df_nonprofits.drop(index=index, inplace=True)

In [14]:
df_nonprofits.to_csv('NonprofitsData.csv', index=False)

In [15]:
df_npos_to_input = df_nonprofits.loc[:, ['state', 'charityName', 'categoryName']]
df_npos_to_input = df_npos_to_input.groupby(['categoryName', 'state']).count()
df_npos_to_input.reset_index(inplace=True)

In [16]:
# change column names
df_npos_to_input.rename(columns = {'state':'State'}, inplace = True)
df_npos_to_input.rename(columns = {'charityName':'charityCount'}, inplace = True)

In [17]:
# create dictionaries and lists to extract nonporift data for each state

animals_dict = {'AL': 0, 'AK': 0, 'AZ': 0, 'AR': 0, 'CA': 0, 'CO': 0, 'CT': 0, 'DE': 0, 'DC': 0, 'FL': 0, 'GA': 0, 'HI': 0, 'ID': 0,
                'IL': 0, 'IN': 0, 'IA': 0, 'KS': 0, 'KY': 0, 'LA': 0, 'ME': 0, 'MD': 0, 'MA': 0, 'MI': 0, 'MN': 0, 'MS': 0, 'MO': 0, 
                'MT': 0, 'NE': 0, 'NV': 0, 'NH': 0, 'NJ': 0, 'NM': 0, 'NY': 0, 'NC': 0, 'ND': 0, 'OH': 0, 'OK': 0, 'OR': 0, 'PA': 0, 
                'RI': 0, 'SC': 0, 'SD': 0, 'TN': 0, 'TX': 0, 'UT': 0, 'VT': 0, 'VA': 0, 'WA': 0, 'WV': 0, 'WI': 0, 'WY': 0, 'PR':0}

arts_dict = {'AL': 0, 'AK': 0, 'AZ': 0, 'AR': 0, 'CA': 0, 'CO': 0, 'CT': 0, 'DE': 0, 'DC': 0, 'FL': 0, 'GA': 0, 'HI': 0, 'ID': 0,
                'IL': 0, 'IN': 0, 'IA': 0, 'KS': 0, 'KY': 0, 'LA': 0, 'ME': 0, 'MD': 0, 'MA': 0, 'MI': 0, 'MN': 0, 'MS': 0, 'MO': 0, 
                'MT': 0, 'NE': 0, 'NV': 0, 'NH': 0, 'NJ': 0, 'NM': 0, 'NY': 0, 'NC': 0, 'ND': 0, 'OH': 0, 'OK': 0, 'OR': 0, 'PA': 0, 
                'RI': 0, 'SC': 0, 'SD': 0, 'TN': 0, 'TX': 0, 'UT': 0, 'VT': 0, 'VA': 0, 'WA': 0, 'WV': 0, 'WI': 0, 'WY': 0, 'PR':0}

community_dev_dict = {'AL': 0, 'AK': 0, 'AZ': 0, 'AR': 0, 'CA': 0, 'CO': 0, 'CT': 0, 'DE': 0, 'DC': 0, 'FL': 0, 'GA': 0, 'HI': 0, 
                      'ID': 0, 'IL': 0, 'IN': 0, 'IA': 0, 'KS': 0, 'KY': 0, 'LA': 0, 'ME': 0, 'MD': 0, 'MA': 0, 'MI': 0, 'MN': 0, 
                      'MS': 0, 'MO': 0, 'MT': 0, 'NE': 0, 'NV': 0, 'NH': 0, 'NJ': 0, 'NM': 0, 'NY': 0, 'NC': 0, 'ND': 0, 'OH': 0, 
                      'OK': 0, 'OR': 0, 'PA': 0, 'RI': 0, 'SC': 0, 'SD': 0, 'TN': 0, 'TX': 0, 'UT': 0, 'VT': 0, 'VA': 0, 'WA': 0, 
                      'WV': 0, 'WI': 0, 'WY': 0, 'PR': 1}

education_dict = {'AL': 0, 'AK': 0, 'AZ': 0, 'AR': 0, 'CA': 0, 'CO': 0, 'CT': 0, 'DE': 0, 'DC': 0, 'FL': 0, 'GA': 0, 'HI': 0, 'ID': 0,
                'IL': 0, 'IN': 0, 'IA': 0, 'KS': 0, 'KY': 0, 'LA': 0, 'ME': 0, 'MD': 0, 'MA': 0, 'MI': 0, 'MN': 0, 'MS': 0, 'MO': 0, 
                'MT': 0, 'NE': 0, 'NV': 0, 'NH': 0, 'NJ': 0, 'NM': 0, 'NY': 0, 'NC': 0, 'ND': 0, 'OH': 0, 'OK': 0, 'OR': 0, 'PA': 0, 
                'RI': 0, 'SC': 0, 'SD': 0, 'TN': 0, 'TX': 0, 'UT': 0, 'VT': 0, 'VA': 0, 'WA': 0, 'WV': 0, 'WI': 0, 'WY': 0, 'PR': 0}

environment_dict = {'AL': 0, 'AK': 0, 'AZ': 0, 'AR': 0, 'CA': 0, 'CO': 0, 'CT': 0, 'DE': 0, 'DC': 0, 'FL': 0, 'GA': 0, 'HI': 0, 'ID': 0,
                'IL': 0, 'IN': 0, 'IA': 0, 'KS': 0, 'KY': 0, 'LA': 0, 'ME': 0, 'MD': 0, 'MA': 0, 'MI': 0, 'MN': 0, 'MS': 0, 'MO': 0, 
                'MT': 0, 'NE': 0, 'NV': 0, 'NH': 0, 'NJ': 0, 'NM': 0, 'NY': 0, 'NC': 0, 'ND': 0, 'OH': 0, 'OK': 0, 'OR': 0, 'PA': 0, 
                'RI': 0, 'SC': 0, 'SD': 0, 'TN': 0, 'TX': 0, 'UT': 0, 'VT': 0, 'VA': 0, 'WA': 0, 'WV': 0, 'WI': 0, 'WY': 0, 'PR': 0}

health_dict = {'AL': 0, 'AK': 0, 'AZ': 0, 'AR': 0, 'CA': 0, 'CO': 0, 'CT': 0, 'DE': 0, 'DC': 0, 'FL': 0, 'GA': 0, 'HI': 0, 'ID': 0,
                'IL': 0, 'IN': 0, 'IA': 0, 'KS': 0, 'KY': 0, 'LA': 0, 'ME': 0, 'MD': 0, 'MA': 0, 'MI': 0, 'MN': 0, 'MS': 0, 'MO': 0, 
                'MT': 0, 'NE': 0, 'NV': 0, 'NH': 0, 'NJ': 0, 'NM': 0, 'NY': 0, 'NC': 0, 'ND': 0, 'OH': 0, 'OK': 0, 'OR': 0, 'PA': 0, 
                'RI': 0, 'SC': 0, 'SD': 0, 'TN': 0, 'TX': 0, 'UT': 0, 'VT': 0, 'VA': 0, 'WA': 0, 'WV': 0, 'WI': 0, 'WY': 0, 'PR': 1}

humanServices_dict = {'AL': 0, 'AK': 0, 'AZ': 0, 'AR': 0, 'CA': 0, 'CO': 0, 'CT': 0, 'DE': 0, 'DC': 0, 'FL': 0, 'GA': 0, 'HI': 0, 
                      'ID': 0, 'IL': 0, 'IN': 0, 'IA': 0, 'KS': 0, 'KY': 0, 'LA': 0, 'ME': 0, 'MD': 0, 'MA': 0, 'MI': 0, 'MN': 0, 
                      'MS': 0, 'MO': 0, 'MT': 0, 'NE': 0, 'NV': 0, 'NH': 0, 'NJ': 0, 'NM': 0, 'NY': 0, 'NC': 0, 'ND': 0, 'OH': 0, 
                      'OK': 0, 'OR': 0, 'PA': 0, 'RI': 0, 'SC': 0, 'SD': 0, 'TN': 0, 'TX': 0, 'UT': 0, 'VT': 0, 'VA': 0, 'WA': 0, 
                      'WV': 0, 'WI': 0, 'WY': 0, 'PR': 0}

civilRights_dict = {'AL': 0, 'AK': 0, 'AZ': 0, 'AR': 0, 'CA': 0, 'CO': 0, 'CT': 0, 'DE': 0, 'DC': 0, 'FL': 0, 'GA': 0, 'HI': 0, 'ID': 0,
                'IL': 0, 'IN': 0, 'IA': 0, 'KS': 0, 'KY': 0, 'LA': 0, 'ME': 0, 'MD': 0, 'MA': 0, 'MI': 0, 'MN': 0, 'MS': 0, 'MO': 0, 
                'MT': 0, 'NE': 0, 'NV': 0, 'NH': 0, 'NJ': 0, 'NM': 0, 'NY': 0, 'NC': 0, 'ND': 0, 'OH': 0, 'OK': 0, 'OR': 0, 'PA': 0, 
                'RI': 0, 'SC': 0, 'SD': 0, 'TN': 0, 'TX': 0, 'UT': 0, 'VT': 0, 'VA': 0, 'WA': 0, 'WV': 0, 'WI': 0, 'WY': 0, 'PR': 0}

international_dict = {'AL': 0, 'AK': 0, 'AZ': 0, 'AR': 0, 'CA': 0, 'CO': 0, 'CT': 0, 'DE': 0, 'DC': 0, 'FL': 0, 'GA': 0, 'HI': 0, 
                      'ID': 0, 'IL': 0, 'IN': 0, 'IA': 0, 'KS': 0, 'KY': 0, 'LA': 0, 'ME': 0, 'MD': 0, 'MA': 0, 'MI': 0, 'MN': 0, 
                      'MS': 0, 'MO': 0, 'MT': 0, 'NE': 0, 'NV': 0, 'NH': 0, 'NJ': 0, 'NM': 0, 'NY': 0, 'NC': 0, 'ND': 0, 'OH': 0, 
                      'OK': 0, 'OR': 0, 'PA': 0, 'RI': 0, 'SC': 0, 'SD': 0, 'TN': 0, 'TX': 0, 'UT': 0, 'VT': 0, 'VA': 0, 'WA': 0, 
                      'WV': 0, 'WI': 0, 'WY': 0, 'PR': 0}

religion_dict = {'AL': 0, 'AK': 0, 'AZ': 0, 'AR': 0, 'CA': 0, 'CO': 0, 'CT': 0, 'DE': 0, 'DC': 0, 'FL': 0, 'GA': 0, 'HI': 0, 'ID': 0,
                'IL': 0, 'IN': 0, 'IA': 0, 'KS': 0, 'KY': 0, 'LA': 0, 'ME': 0, 'MD': 0, 'MA': 0, 'MI': 0, 'MN': 0, 'MS': 0, 'MO': 0, 
                'MT': 0, 'NE': 0, 'NV': 0, 'NH': 0, 'NJ': 0, 'NM': 0, 'NY': 0, 'NC': 0, 'ND': 0, 'OH': 0, 'OK': 0, 'OR': 0, 'PA': 0, 
                'RI': 0, 'SC': 0, 'SD': 0, 'TN': 0, 'TX': 0, 'UT': 0, 'VT': 0, 'VA': 0, 'WA': 0, 'WV': 0, 'WI': 0, 'WY': 0, 'PR': 0}

publicPolicy_dict = {'AL': 0, 'AK': 0, 'AZ': 0, 'AR': 0, 'CA': 0, 'CO': 0, 'CT': 0, 'DE': 0, 'DC': 0, 'FL': 0, 'GA': 0, 'HI': 0, 
                     'ID': 0, 'IL': 0, 'IN': 0, 'IA': 0, 'KS': 0, 'KY': 0, 'LA': 0, 'ME': 0, 'MD': 0, 'MA': 0, 'MI': 0, 'MN': 0, 
                     'MS': 0, 'MO': 0, 'MT': 0, 'NE': 0, 'NV': 0, 'NH': 0, 'NJ': 0, 'NM': 0, 'NY': 0, 'NC': 0, 'ND': 0, 'OH': 0, 
                     'OK': 0, 'OR': 0, 'PA': 0, 'RI': 0, 'SC': 0, 'SD': 0, 'TN': 0, 'TX': 0, 'UT': 0, 'VT': 0, 'VA': 0, 'WA': 0, 
                     'WV': 0, 'WI': 0, 'WY': 0, 'PR': 1}


npo_dictionaries = [animals_dict, arts_dict, community_dev_dict, education_dict, environment_dict, health_dict, humanServices_dict,
                   civilRights_dict, international_dict, religion_dict, publicPolicy_dict]

npo_cat = ['Animals', 'Arts, Culture, Humanities', 'Community Development', 'Education', 'Environment', 'Health', 'Human Services',
           'Human and Civil Rights', 'International', 'Religion', 'Research and Public Policy']

In [18]:
# create function to append npo data for one state

def append_npos_data(df, dict_, category):
    df1 = df[df['categoryName'] == category]
    for j in df1.State:
        if j in dict_:
            df2 = df1[df1['State'] == j]
            df2.set_index('categoryName', inplace=True)
            #return df2
            dict_[j] = df2.iloc[-1]['charityCount']
    return(dict_)

In [19]:
# loop through 'append_npos_data' to collect data for all states

dictionaries_list = []
def npo_cat_list(df, category_list, dictionaries):
    counter = -1
    for item in category_list:
        counter += 1
        dict_ = dictionaries[counter]
        dictionaries[counter] == append_npos_data(df, dict_, item)
        dictionaries_list.append(dictionaries[counter])
    return dictionaries_list

In [20]:
# call function to get npo data for all states
npo_cat_list(df_npos_to_input, npo_cat, npo_dictionaries)

# index data to create separate dictionaries for all categories
animals_dict = dictionaries_list[0]
arts_dict = dictionaries_list[1]
community_dev_dict = dictionaries_list[2]
education_dict = dictionaries_list[3]
environment_dict = dictionaries_list[4]
health_dict = dictionaries_list[5]
humanServices_dict = dictionaries_list[6]
civilRights_dict = dictionaries_list[7]
international_dict = dictionaries_list[8]
religion_dict = dictionaries_list[9]
publicPolicy_dict = dictionaries_list[10]

#### Main dataset

In [21]:
df_disasters

,Declaration Type,State,Disaster Type,Disaster Title,Start Date,End Date,Individual Assistance Program,Individuals & Households Program,Public Assistance Program,Hazard Mitigation Program,Year
0,Fire,TX,Fire,Saddleback Fire,2000-01-03,01/03/2000,No,No,Yes,No,2000
1,Fire,TX,Fire,Purgatory Fire,2000-01-04,01/04/2000,No,No,Yes,No,2000
2,Fire,TX,Fire,Bob's Trail Fire,2000-01-05,01/05/2000,No,No,Yes,No,2000
3,Disaster,KY,Tornado,"Tornadoes, Severe Storms, Torrential Rains, an...",2000-01-03,01/04/2000,Yes,No,Yes,Yes,2000
4,Disaster,KY,Tornado,"Tornadoes, Severe Storms, Torrential Rains, an...",2000-01-03,01/04/2000,Yes,No,Yes,Yes,2000
...,...,...,...,...,...,...,...,...,...,...,...
26718,Disaster,CA,Storm,"Severe Winter Storms, Flooding, and Mudslides",2017-01-03,01/12/2017,No,No,Yes,Yes,2017
26719,Disaster,CA,Storm,"Severe Winter Storms, Flooding, and Mudslides",2017-01-03,01/12/2017,No,No,Yes,Yes,2017
26720,Disaster,CA,Storm,"Severe Winter Storms, Flooding, and Mudslides",2017-01-03,01/12/2017,No,No,Yes,Yes,2017
26721,Disaster,CA,Storm,"Severe Winter Storms, Flooding, and Mudslides",2017-01-03,01/12/2017,No,No,Yes,Yes,2017
26722,Disaster,CA,Storm,"Severe Winter Storms, Flooding, and Mudslides",2017-01-03,01/12/2017,No,No,Yes,Yes,2017

#### Add dictionaries to main dataframe

In [22]:
# list of dictionaries to add
df_dictionaries = [population_dict, landArea_dict, totalArea_dict, animals_dict, arts_dict, community_dev_dict, education_dict ,
                   environment_dict, health_dict, humanServices_dict, civilRights_dict, international_dict, religion_dict, 
                   publicPolicy_dict]

# column names
df_additional_columns = ['State Population', 'Land Area', 'Total Area', 'Animals', 'Arts, Culture, Humanities', 'Community Development', 
           'Education', 'Environment', 'Health', 'Human Services', 'Human and Civil Rights', 'International', 'Religion', 
           'Research and Public Policy']

In [23]:
# create function to add empty columns to dataframe

def add_empty_columns(columns_list, df):
    for i in columns_list:
        df[i] = ''

In [24]:
# call 'add_empty_columns' to add empty columns to main dataframe

add_empty_columns(df_additional_columns, df_disasters)

In [25]:
# create function to add values in the dataframe

def add_column_values(df, dict_list, column_list):
    count_dict = -1
    count_column = -1
    for i in dict_list:
        count_dict += 1
        count_column += 1
        dictionary = dict_list[count_dict]
        for word in dictionary.keys():
            df.loc[df['State'].str.contains(word, na=False), 
                [column_list[count_column]]] = dictionary[word]

In [26]:
# call 'add_column_values' to add values in the empty columns created before

add_column_values(df_disasters, df_dictionaries, df_additional_columns)

In [27]:
# check null values in final dataset

df_disasters.isnull().sum()

Declaration Type                      0
State                                 0
Disaster Type                         0
Disaster Title                        0
Start Date                            0
End Date                            282
Individual Assistance Program         0
Individuals & Households Program      0
Public Assistance Program             0
Hazard Mitigation Program             0
Year                                  0
State Population                      0
Land Area                             0
Total Area                            0
Animals                               0
Arts, Culture, Humanities             0
Community Development                 0
Education                             0
Environment                           0
Health                                0
Human Services                        0
Human and Civil Rights                0
International                         0
Religion                              0
Research and Public Policy            0
dtype: int64

In [28]:
# drop rows in no 'End Date'
df_disasters['End Date'] = df_disasters['End Date'].fillna('none')

for index, row in df_disasters.iterrows():
    if row['End Date'] == 'none':
        df_disasters.drop(index=index, inplace=True)

In [29]:
# add 'total nonprofits' (per state) column in the dataframe
df_disasters['Total Nonprofits'] = df_disasters['Animals'] + df_disasters['Arts, Culture, Humanities'] + df_disasters['Community Development'] + df_disasters['Education'] + df_disasters['Environment'] + df_disasters['Health'] + df_disasters['Human Services'] + df_disasters['Human and Civil Rights'] + df_disasters['International'] + df_disasters['Religion'] + df_disasters['Research and Public Policy']

In [30]:
# create target variable - total number of days a disaster lasted
df_disasters['Start Date'] = pd.to_datetime(df_disasters['Start Date'])
df_disasters['End Date'] = pd.to_datetime(df_disasters['End Date'])
df_disasters['No. of Days'] = df_disasters['End Date'] - df_disasters['Start Date']
df_disasters['No. of Days'] = df_disasters['No. of Days'].dt.days.astype('int16')

In [31]:
# update Puerto Rico's population in dataframe
PR_pop = {'PR': 2860853}

for word in PR_pop.keys():
            df_disasters.loc[df_disasters['State'].str.contains(word, na=False), 
                ['State Population']] = PR_pop[word]

# update Puerto Rico's Land Area in dataframe
PR_landArea = {'PR': 9104}

for word in PR_landArea.keys():
            df_disasters.loc[df_disasters['State'].str.contains(word, na=False), 
                ['Land Area']] = PR_landArea[word]
        
# update Puerto Rico's Total Area in dataframe
PR_totalArea = {'PR': 9104}

for word in PR_totalArea.keys():
            df_disasters.loc[df_disasters['State'].str.contains(word, na=False), 
                ['Total Area']] = PR_totalArea[word]

In [32]:
# export final dataset
df_disasters.to_csv('FinalDataset.csv', index=False)